.container{
  margin-top: 3rem;
  padding: 3rem;
}

.my-input{
  margin-top: 3rem;
}

.card{
  padding: 3rem;
}

.my-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-btn{
  margin-top: 3rem;
}
